body {
    margin: 0;
}

h2, p, a, li{
    font-family: 'Open Sans', sans-serif;
}

/* to have margins around groups of things */
.container {
    /* padding: 2rem 2rem 2rem 2rem; */
    margin: 0 4.5rem;
}


/* Hero */
#hero {
    background-color: #DDE6ED;
    height: 350px;
}

#hero > .container{
    display: flex;
    justify-content: center;
    /* height: 100%; */
}

.title-box {
    position: relative;
}

.title, .sub-title {
    color: lightsteelblue;
}

.title {
    font-family: 'Calistoga', cursive;
    font-size: 40px;
    position: absolute;
    left: 125px;
    top: 83px;
}

.sub-title {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 175px;
    top: 142px;
}


/* about */
#about {
    background-color: #DDE6ED;
}

.about-grid {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}

.left-swirl {
    transform: scaleX(-1);
}

#about .container {
    margin: 0 1rem;
}

.about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* experience */
#experience {
    background-color: #E987AB;
    padding: 3rem 0;
}

#experience > .container {
    border-left: black solid 7px;
    border-right: black solid 7px;
    
    padding: 35px;
    height: fit-content;
    min-height: 450px;
}

.left {
    text-align: left;
}

.right {
    direction: rtl;
    text-align: right;
}

.exp-list > *{
    margin: 3.5rem 0;
    font-size: large;
    font-weight: bold;
}

.skills-container {
    position: relative;
}

.skill-tech {
    position: absolute;
    top: 170px;
    left: 170px;
    font-size: xx-large;
}

.skill-soft {
    position: absolute;
    top: 170px;
    left: 210px;
    font-size: xx-large;
}

.skill-list {
    list-style-type: none;
    text-align: center;
    width: fit-content;
    position: absolute;
    left: 83px;
    top: 225px;
}

.soft {
    left: 153px;
    top: 225px;
}

.skill-list > * {
    margin: 2rem 0;
    font-size: x-large;
    font-weight: bold;
}


/* projects */
#projects {
    background-color: #4A87B5;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.blob-grid {
    display: grid;
    grid-template-columns: 44px 38px 257px 149px 145px 152px 47px 234px 139px;
    grid-template-rows: 10px 4px 145px 130px 95px 69px 186px;
    
}

.project-containers {
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.text {
    position: absolute;
    font-size:45px;
}

.p1-container {
    grid-column-start: 2;
    grid-row-start: 2;
}

.p1 {
    left: 121px;
    bottom: 160px;
}

.blob1 {
    /* 165 + 180*/
    transform: rotate(345deg);
}

.p2-container {
    grid-column-start: 4;
    grid-row-start: 5;
}

.p2 {
    left: 120px;
    bottom: 145px;
}

.blob2 {
    transform: rotate(171deg);
}

.p3-container {
    grid-column-start: 6;
    grid-row-start: 1;
}

.p3 {
    left: 99px;
    bottom: 170px;
}

.blob3 {
    transform: rotate(60deg);
}

.p4-container {
    grid-column-start: 8;
    grid-row-start: 6;
}

.p4 {
    left: 100px;
    top: 0px;
}

.blob5 {
    transform: rotate(42deg);
}

.p5-container {
    grid-column-end: 4;
    grid-row-start: 7;
    justify-self: end;
}

.blob6 {
    transform: rotate(315deg);
}

.p6-container {
    grid-column-start: 9
}

.p7-container {
    justify-self: end;
}

.button {
    width: 160px;
    height: 45px;
    background-color: #9DB2BF;
    border-radius: 4rem;
}

.b1 {
    position: absolute;
    top: 190px;
    left: 135px;
}

.b2 {
    position: absolute;
    bottom: 130px;
    left: 135px;
}

.b3 {
    position: absolute;
    top: 260px;
    left: 185px;
}
/* contact */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 45px;
}

.contact-title {
    font-size: 53px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #4A87B5;
}

.icon-box svg {
    height: 32px;
    width: 32px;
}

.contact-box, .contact-title-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* footer */
footer {
    background-color: #4A87B5;
    height: 10rem;
    padding: 20px;
}

